{% extends '@OHMediaBackend/base.html.twig' %}

{% block meta_title %}{{ accordion }} | Accordions{% endblock %}

{% block breadcrumbs %}
{{ bootstrap_breadcrumbs(
  bootstrap_breadcrumb(bootstrap_icon('question-circle-fill') ~ ' FAQs', 'faq_index'),
  bootstrap_breadcrumb(accordion),
) }}
{% endblock %}

{% block actions %}
<div class="btn-group btn-group-sm">
  {% if is_granted(attributes.edit, accordion) %}
    <a class="btn btn-primary" href="{{ path('faq_edit', {id: accordion.id}) }}">
      {{ bootstrap_icon('pen-fill') }}
      Edit
    </a>
  {% endif %}
  {% if is_granted(attributes.delete, accordion) %}
    <a class="btn btn-danger" href="{{ path('faq_delete', {id: accordion.id}) }}" data-confirm="Are you sure you want to delete this FAQ? Clicking OK will take you to a verification step to delete this entry.">
      {{ bootstrap_icon('trash-fill') }}
      Delete
    </a>
  {% endif %}
</div>
{% endblock %}

{% block main %}
<div class="card">
  <div class="card-body">
    <h1 class="card-title h3">FAQ</h1>

    {{ dump(accordion) }}
  </div>
</div>
{% endblock %}
