{% extends '@OHMediaBackend/base.html.twig' %}

{% block meta_title %}{{ faq }} | Accordions{% endblock %}

{% block breadcrumbs %}
{{ bootstrap_breadcrumbs(
  bootstrap_breadcrumb(bootstrap_icon('question-circle') ~ ' FAQs', 'faq_index'),
  bootstrap_breadcrumb(faq),
) }}
{% endblock %}

{% set can_create_question = is_granted(attributes.faq_question.create, new_faq_question) %}
{% set create_question_href = path('faq_question_create', {id: faq.id}) %}

{% block actions %}
<div class="btn-group btn-group-sm">
  {% if can_create_question %}
    <a class="btn btn-primary" href="{{ create_question_href }}">
      {{ bootstrap_icon('plus') }}
      Add Question
    </a>
  {% endif %}
  {% if is_granted(attributes.faq.edit, faq) %}
    <a class="btn btn-primary" href="{{ path('faq_edit', {id: faq.id}) }}">
      {{ bootstrap_icon('pen-fill') }}
      Edit
    </a>
  {% endif %}
  {% if is_granted(attributes.faq.delete, faq) %}
    <a class="btn btn-danger" href="{{ path('faq_delete', {id: faq.id}) }}" data-confirm="Are you sure you want to delete this FAQ? Clicking OK will take you to a verification step to delete this entry.">
      {{ bootstrap_icon('trash-fill') }}
      Delete
    </a>
  {% endif %}
</div>
{% endblock %}

{% block main %}
<div class="card">
  <div class="card-body">
    <div class="card-title card-title-with-count">
      <h1 class="card-title-heading">Questions</h1>
      <div class="card-title-count">
        {{ bootstrap_badge_primary(faq.questions|length) }}
      </div>
    </div>
    <h2 class="card-subtitle mb-3 text-body-secondary h5">{{ faq }}</h2>

    {% if faq.questions|length %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th style="width:1rem">&nbsp;</th>
          <th>Question</th>
          <th></th>
        </tr>
      </thead>
      <tbody
        data-sortable
        data-sortable-csrf-name="{{ csrf_token_name }}"
        data-sortable-csrf-token="{{ csrf_token(csrf_token_name) }}"
        data-sortable-url="{{ path('faq_question_reorder_post', {id: faq.id}) }}"
      >
      {% for faq_question in faq.questions %}
        <tr data-id="{{ faq_question.id }}">
          <td data-handle>{{ bootstrap_icon('arrows-move') }}</td>
          <td>{{ faq_question.question }}</td>
          <td>
            {% if is_granted(attributes.faq_question.edit, faq_question) %}
            <a class="btn btn-sm btn-primary btn-action" href="{{ path('faq_question_edit', {id: faq_question.id}) }}" title="Edit">
              {{ bootstrap_icon('pen-fill') }}
              <span class="visually-hidden">Edit</span>
            </a>
            {% endif %}
            {% if is_granted(attributes.faq_question.delete, faq_question) %}
            <a class="btn btn-sm btn-danger btn-action" href="{{ path('faq_question_delete', {id: faq_question.id}) }}" title="Delete" data-confirm="Are you sure you want to delete this question? Clicking OK will take you to a verification step to delete this entry.">
              {{ bootstrap_icon('trash-fill') }}
              <span class="visually-hidden">Delete</span>
            </a>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>
      No questions found.
      {% if can_create_question %}
      <a href="{{ create_question_href }}">Click here to add a question.</a>
      {% endif %}
    </p>
    {% endif %}
  </div>
</div>
{% endblock %}
